
@{
    ViewData["Title"] = "Delete a Bowler";
}

@model Bowler

<div class=“text-center”>
    <br />
    <h1>Confirm Deletion</h1>
    <br />
    <h3>Are you sure you want to delete @Model.BowlerFirstName?</h3>
    <br />
    <form method="post" asp-controller="Home" asp-action="Delete">
        <button type="submit">Delete</button>
        <a asp-controller="Home" asp-action="Index">Cancel</a>
        <input type="hidden" asp-for="BowlerID" /> <!--make sure that the asp-for is in the delete form-->
    </form>
</div>